/* CSS Reset */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Bree Serif', serif;
}

/*General Styles*/

h2 {
	color: #050505;
}

.rounded-circle {
	border: 5px solid #e6db74;
}

body {
  font-family: 'Bree Serif', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  color: #050505;
  line-height: 1.5em;
  background-color: #050505;
}

.jumbotron {
	background-color: #fffff2;
	text-align: center;
}

#capstone-projects{
	height: 150px;
	width: 150px;
	padding-top: 30px;
	border: 3px solid #050505;
}


.project-div {
	margin: 0 auto;
}

#about, #skills, #work, #contact {
	text-align: center;
}

.linkedin {
	color: #0077b5;
}

.github {
	color: #6e5494;
}

.fcc {
	color: #006400;
}


/*Footer Section Styles*/
footer {
	position: static;
	bottom: 0;
	width: 100%;
	background-color: #272822;
	text-align: center;
	color: #f8f8f2;
}

footer {
	padding: 1em 0;
}
footer a {
	text-decoration: none;
	color: #f8f8f2;
}

footer a:hover {
	text-decoration: none;
	color: #272822;
	font-weight: 700;
	background-color: #e6db74;
}

